<div id="multiGameLeaderboardModal" class="modal modal-fixed-footer">
	<div id="multiGameLeaderboardModalContent" class="modal-content">
		<h4 class="truncate" ng-if="!event.eventProperties.format.teamBased">
			Leaderboard
		</h4>
		<h4 class="truncate" ng-if="event.eventProperties.format.teamBased">
			Player Leaderboard
		</h4>

		<div class="divider"></div>

		<div class="section">
			<span class="flow-text text-darken-4" ng-if="event.completeLeaderboard.length === 0">
				There are no scores yet for this competition.
			</span>

			<ul class="collection z-depth-1">
				<a ng-click="event.openPlayerModal(playerData.key)" 
				   ng-repeat="playerData in event.completeLeaderboard"
				   ng-if="playerData.points > 0">
				<li class="waves-effect waves-teal collection-item avatar hoverable" style="height: 62px;">

				    <img ng-attr-src="{{ event.avatarData[playerData.key] }}" class="circle z-depth-1">

				    <div style="margin-top: 11px;">
					    <span class="grey-text text-darken-1" style="font-size: 25px;">{{ (playerData.position) || $index+1 }}</span>
					    <span class="grey-text text-darken-4 truncate" style="vertical-align: top; padding-left: 20px;">
					        {{ playerData.team }}.{{ playerData.key }}
					    </span>
					    <span class="grey-text text-darken-1" style="float: right;">{{ playerData.points | number }}</span>
				    </div>

				</li>
				</a>
			</ul>
		</div>
	</div>

	<div class="modal-footer">
		<a ng-click="" class="modal-action modal-close waves-effect btn-flat">Close</a>
	</div>
</div>