<div id="gameModal" class="modal modal-fixed-footer">
	<div id="gameModalContent" class="modal-content">
		<h4 class="truncate">{{ event.gameData.name }}</h4>

		<div class="divider top15 bottom20"></div>

		<p ng-if="event.gameData.mameSet">
		    <span class="grey-text text-darken-4">MAME Romset</span>
		    <br>
		    <span class="grey-text text-darken-1">{{ event.gameData.mameSet }}</span>
		</p>

		<div ng-if="event.gameData.mameSet" class="divider top15"></div>

		<p ng-if="event.gameData.rules">
		    <span class="grey-text text-darken-4">Special Rules</span>
		    <br>
		    <span class="grey-text text-darken-1 preline">{{ event.gameData.rules }}</span>
		</p>

		<div ng-if="event.gameData.rules" class="divider top15 bottom15"></div>

		<div class="section">
			<span class="flow-text text-darken-4" ng-if="event.gameScores.length === 0">
				No scores have been submitted yet for this game.
			</span>

			<table class="responsive-table hoverable" ng-if="event.gameScores.length > 0">

				<thead>
					<tr class="grey-text text-darken-1">
						<th>Position</th>
						<th>Player</th>
						<th>Score</th>
						<th>Points Earned</th>
						<th>Links</th>
					</tr>
				</thead>

				<tbody>
					<tr ng-repeat="scoreData in event.gameScores | orderBy:'-score'" 
					    class="grey-text"
					    ng-class="{'text-lighten-1': event.determinePoints(scoreData, $index) === 0,
					               'text-darken-4':  event.determinePoints(scoreData, $index) > 0}">
						<td>{{ $index + 1 }}</td>
						<td>
						    <a class="hoverable"
						       ng-click="event.openPlayerModalFromGameModal(scoreData.$id)">
						        {{ scoreData.$id }}
						    </a>
						</td>
						<td>{{ scoreData.score | number }}</td>
						<td>{{ event.determinePoints(scoreData, $index ) }}</td>
						<td>
							<a ng-attr-href="{{ 'http://' + scoreData.twitchUrl }}" 
							   class="grey-text hoverable"
							   ng-class="{'text-lighten-1': event.determinePoints(scoreData, $index) === 0,
					                      'text-darken-4':  event.determinePoints(scoreData, $index) > 0}"
							   ng-show="scoreData.twitchUrl">
						        <i class="fa fa-lg fa-twitch"></i>&nbsp;
						    </a>

						    <a ng-attr-href="{{ 'http://' + scoreData.inpUrl }}" 
						       class="grey-text hoverable"
						       ng-class="{'text-lighten-1': event.determinePoints(scoreData, $index) === 0,
					                      'text-darken-4':  event.determinePoints(scoreData, $index) > 0}"
						       ng-show="scoreData.inpUrl">
						    	<i class="fa fa-lg fa-file-video-o"></i>&nbsp;<span>{{ scoreData.mameVersion | lowercase }}</span>
						    </a>
						</td>
					</tr>
				</tbody>

			</table>
		</div>
	</div>

	<div class="modal-footer">
		<a ng-click="" class="modal-action modal-close waves-effect btn-flat">Close</a>
	</div>
</div>