<div id="multiGameLeaderboardModal" class="modal modal-fixed-footer">
	<div id="multiGameLeaderboardModalContent" class="modal-content">
		<h4 class="truncate" ng-if="!event.eventProperties.format.teamBased">
			Leaderboard
		</h4>
		<h4 class="truncate" ng-if="event.eventProperties.format.teamBased">
			Player Leaderboard
		</h4>

		<div class="divider"></div>

		<div class="section">
			<span class="flow-text text-darken-4" ng-if="event.completeLeaderboard.length === 0">
				There are no scores yet for this competition.
			</span>

			<ul class="collection z-depth-1">
				<a ng-click="event.openPlayerModal(playerData.key)" 
				   ng-repeat="playerData in event.completeLeaderboard">
				<li class="waves-effect waves-teal collection-item avatar hoverable" style="height: 62px;">
				    <img ng-attr-src="{{ event.avatarData[playerData.key] }}" class="circle z-depth-1">
					<span class="title grey-text text-darken-4">{{ playerData.key }}</span><br>
					<span class="grey-text text-darken-1" ng-if="!playerData.position && playerData.points !== 0">
					    {{ (playerData.position | ordinal) || $index+1 | ordinal }} &ndash; {{ playerData.points }}
					</span>
					<span class="grey-text text-darken-1" ng-if="!playerData.position && playerData.points === 0">
						0
					</span>
				</li>
				</a>
			</ul>
		</div>
	</div>

	<div class="modal-footer">
		<a ng-click="" class="modal-action modal-close waves-effect btn-flat">Close</a>
	</div>
</div>