<nav class="grey tall-header">
	<div class="container">
		<div class="nav-wrapper">
			<ul class="left">
				<li ng-if="false"><a href="#/" class="waves-effect"><i class="mdi-navigation-menu grey-text text-lighten-4"></i></a></li>
				<li class="hide-on-med-and-up"><a href="#/"><i class="mdi-action-home grey-text text-lighten-4"></i></a></li>
			</ul>
			
			<a href="#/" class="hide-on-small-only brand-logo grey-text text-lighten-4" style="padding-left: 20px;">tournament.vg</a>
			
			<ul class="right">
				<li>
				    <a class="waves-effect" ng-href="{{ $root.profile.$id ?  '#/profile/' + $root.profile.userName : '#/registerOrLogin' }}">
				        <i ng-class="{'mdi-social-person': $root.profile.$id,
				                      'mdi-action-perm-identity': !$root.profile.$id}" 
				           class="grey-text text-lighten-4">
				        </i>
				    </a>
				</li>
				<li ng-if="$root.profile.$id">
				    <a class="dropdown-button waves-effect" data-activates="quicklinksDropdown" ng-click="">
				        <i class="mdi-navigation-more-vert grey-text text-lighten-4"></i>
				    </a>
				    <ul id="quicklinksDropdown" class="dropdown-content">
				        <li><a href="#/customizeAvatar">Customize Avatar</a></li>
				    	<li><a href="#/passwordChange">Change Password</a></li>
						<li><a ng-click="header.logOut()">Log Out</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>