<span class="flow-text text-darken-4" ng-if="event.summarizedLeaderboard.length === 0">
	No scores have been submitted yet for this game.
</span>

<table class="responsive-table hoverable" ng-if="event.summarizedLeaderboard.length > 0">

	<thead>
		<tr class="grey-text text-darken-1" style="font-weight: normal;">
			<th>Position</th>
			<th>Player</th>
			<th>Score</th>
			<th>Links</th>
		</tr>
	</thead>

	<tbody>
		<tr ng-repeat="scoreData in event.summarizedLeaderboard | orderBy:'-score'" 
		    class="grey-text text-darken-4">
			<td>{{ $index + 1 }}</td>
			<td>
				<img ng-attr-src="{{ event.avatarData[scoreData.$id] }}" class="avatar circle z-depth-1">
			    <a class="hoverable"
			       ng-href="{{ '#/profile/' + scoreData.$id }}">
			        {{ scoreData.$id }}
			    </a>
			</td>
			<td>{{ scoreData.score | number }}</td>
			<td>
				<a ng-attr-href="{{ 'http://' + scoreData.twitchUrl }}" 
				   class="grey-text text-darken-4 hoverable" 
				   style="cursor: pointer;"
				   ng-show="scoreData.twitchUrl">
			        <i class="fa fa-lg fa-twitch"></i>&nbsp;
			    </a>

			    <a ng-attr-href="{{ 'http://' + scoreData.inpUrl }}" 
			       class="grey-text text-darken-4 hoverable" 
			       ng-show="scoreData.inpUrl">
			    	<i class="fa fa-lg fa-file-video-o"></i>&nbsp;<span>{{ scoreData.mameVersion | lowercase }}</span>
			    </a>
			</td>
		</tr>
	</tbody>

</table>

<div class="divider bottom25 top30"></div>