<div class="row" ng-if="vm.activeStreamerList.length > 0">
	<div class="col s12">
		<span class="col s12 flow-text grey-text text-darken-4" style="padding-left: 5px;">
			Active Streamers
		</span>
	</div>
	<div ng-repeat="streamer in vm.activeStreamerList" class="col s12 m4">
		<a ng-href="{{ 'http://twitch.tv/' + streamer.twitch }}" target="_blank" class="hoverable">
			<p class="col s12 m4 grey-text text-darken-4 hoverable" style="padding-bottom: 10px;">
				{{ streamer.userName }}, {{ streamer.team }}
			</p>
		</a>
	</div>
</div>

<div ng-if="vm.activeStreamerList.length > 0" class="divider bottom25 top30"></div>