<div class="col s12 m6">
	<span class="flow-text grey-text text-darken-4">
		Team Leaderboard
		<a ng-if="event.teamLeaderboardLength > 8"
		   class="btn-floating waves-effect waves-light blue-grey" 
		   ng-click="event.openModal('#teamLeaderboardModal')">
		    <i class="mdi-action-open-in-new"></i>
		</a>

		<a ng-if="event.teamLeaderboardLength <= 8"
		   class="btn-floating disabled">
		    <i class="mdi-action-open-in-new"></i>
		</a>
	</span>

	<ul class="collection z-depth-1">
		<a ng-click="event.openTeamScoresModal(teamData)" 
		   ng-repeat="teamData in event.teamSummarizedLeaderboard | orderBy:'-points' | limitTo:8">
			<li class="waves-effect waves-teal collection-item avatar hoverable" 
			    style="height: 62px; width: 100%">

			    <img ng-attr-src="{{ '../../../images/teams/' + teamData.key + '.png' }}" class="circle z-depth-1">

			    <div style="margin-top: 11px;">
				    <span class="grey-text text-darken-1" style="font-size: 25px;">{{ $index + 1 }}</span>
				    <span class="grey-text text-darken-4" style="vertical-align: top; padding-left: 20px;">{{ teamData.fullName }}</span>
				    <span class="grey-text text-darken-1" style="float: right;">{{ teamData.points | number }}</span>
			    </div>

			</li>
		</a>
	</ul>
</div>