.drop-avatar {
	width: 100px; 
	height: 100px; 
	margin-left: auto;
	margin-right: auto;
	margin-top: -3px;
	border-radius: 50%;
}

td .avatar {
	width: 42px;
	height: 42px;
	vertical-align: middle;
	margin-right: 12px;
}