[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.dragover {
	border-color: $blue-grey;
}

.swatch {
    border-radius: 2px;
    left: 15px;
    text-align: center;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

a.hoverable {
    transition: color .3s ease-out;
    color: inherit;
    cursor: pointer;
    &:hover {
        color: $blue-grey !important;
        transition: color .3s ease-out;
    }
}

p.hoverable {
    transition: color .3s ease-out;
    color: inherit;
    cursor: pointer;
    &:hover {
        color: $blue-grey !important;
        transition: color .3s ease-out;
    }
}


.collapsible-header.hoverable {
    transition: background-color 1s ease-out;
    &:hover {
        background-color: $grey-lighten-2 !important;
        transition: background-color .2s ease-out;
    }
}

li.hoverable {
    transition: background-color 1s ease-out;
    &:hover {
        background-color: $grey-lighten-2 !important;
        transition: background-color .2s ease-out;
    }
}

.image-badge {
    position: absolute;
    width: 28px;
    overflow: hidden;
    left: 23px;
    top: 52px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    font-size: 10px;
    line-height: 10px;
    color: $grey-lighten-4;
    background-color: rgba(96, 125, 139, 0.7);
    border-radius: 15%;
}

.profile-badge {
    width: 45px;
    height: 45px;
    position: absolute;
    background-color: rgba(96, 125, 139, 0.7);
    border-radius: 15%;
    left: 15px;
    display: inline-block;
}

.profile-avatar {
    overflow: hidden; 
    display: inline-block; 
    vertical-align: middle; 
    margin-left: 10px; 
    width: 42px; 
    height: 42px;
}

.tournament-badge {
    border-radius: 20%;
    background-color: $grey-lighten-2;
}

.bottom0 { margin-bottom: 0px !important; }
.bottom5 { margin-bottom: 5px !important; }
.bottom10 { margin-bottom: 10px !important; }
.bottom15 { margin-bottom: 15px !important; }
.bottom20 { margin-bottom: 20px !important; }
.bottom25 { margin-bottom: 25px !important; }
.bottom30 { margin-bottom: 30px !important; }

.top0 { margin-top: 0px !important; }
.top5 { margin-top: 5px !important; }
.top10 { margin-top: 10px !important; }
.top15 { margin-top: 15px !important; }
.top20 { margin-top: 20px !important; }
.top25 { margin-top: 25px !important; }
.top30 { margin-top: 30px !important; }
.top35 { margin-top: 35px !important; }
.top40 { margin-top: 40px !important; }

.left5 { padding-left: 5px !important; }
.left10 { padding-left: 10px !important; }
.left15 { padding-left: 15px !important; }
.left20 { padding-left: 20px !important; }

.right5 { padding-right: 5px !important; }
.right10 { padding-right: 10px !important; }
.right15 { padding-right: 15px !important; }
.right20 { padding-right: 20px !important; }

.preline { white-space: pre-line; }