<div class="container">
	
	<div class="card grey lighten-4 z-depth-2">
		<div class="card-content">

			<div class="row">
				<form class="col s12" name="pwChangeForm" ng-submit="pwchange.submitChangePassword()" novalidate>
					<h4 class="col s12 flow-text grey-text text-darken-4">
						Change Password
					</h4>
					
					<div class="input-field col s12 m6">
						<input id="currentPassword" 
						       type="password" 
						       name="currentPassword"
						       ng-class="{'invalid-field': reg.showPasswordChangeMessage || (pwChangeForm.currentPassword.$error.required && pwChangeForm.$submitted)}" 
						       ng-model="pwchange.inputCurrentPassword"
						       required>
						<label for="currentPassword">Current Password</label>
						<span ng-if="pwchange.showPasswordChangeMessage" class="validation-text">
							This does not match your current password.
						</span>
						<span ng-if="pwChangeForm.currentPassword.$error.required && pwChangeForm.$submitted" class="validation-text">
							Please enter your current password.
						</span>
					</div>

					<div class="input-field col s12 m6">
						<input id="newPassword" 
						       name="newPassword"
						       type="password" 
						       ng-class="{'invalid-field': pwChangeForm.newPassword.$error.required && pwChangeForm.$submitted}" 
						       ng-model="pwchange.inputNewPassword"
						       required>
						<label for="newPassword">New Password</label>
						<span ng-if="pwChangeForm.newPassword.$error.required && pwChangeForm.$submitted" class="validation-text">
							Please enter a new password.
						</span>
					</div>

					<div class="col s12 right-align">
						<button class="btn-flat waves-effect waves-light" type="submit" ng-click="pwchange.submitChangePassword()">
						    Change
						</button>
					</div>

				</form>
			</div>

		</div>
	</div>

</div>