<div class="container" style="margin-top: -50px;">
	
	<div class="card grey lighten-4 z-depth-2">
		<div class="card-content">

			<div class="row">
				<form class="col s12" name="loginForm" ng-submit="reg.loginToAccount()" novalidate>
					<h4 class="col s12 flow-text grey-text text-darken-4">
						Log In
					</h4>
					<p class="col s12 grey-text text-darken-1" style="padding-bottom: 10px;">
					    Already have an account? Go ahead and log in to fully utilize the site's features.
					</p>
					<div class="input-field col s12 m6">
						<input id="loginEmail" 
						       type="email" 
						       name="email"
						       ng-model="reg.loginEmail"
						       ng-class="{'invalid-field': reg.showInvalidUserError || 
						                                   (loginForm.email.$error.required && loginForm.$submitted) ||
						                                   reg.showPasswordResetEmailMessage}"
						       required>
						<label for="loginEmail">Email</label>
						<span ng-if="reg.showInvalidUserError" class="validation-text">
							No account exists with this email address.
						</span>
						<span ng-if="loginForm.email.$error.required && loginForm.$submitted" class="validation-text">
							Please enter an email address.
						</span>
						<span ng-if="reg.showPasswordResetEmailMessage" class="validation-text">
							Please enter your account's email address.
						</span>
					</div>
					<div class="input-field col s12 m6">
						<input id="loginPassword" 
						       type="password" 
						       name="password"
						       ng-model="reg.loginPassword"
						       ng-class="{'invalid-field': reg.showInvalidPasswordError || (loginForm.password.$error.required && loginForm.$submitted)}"
						       required>
						<label for="loginPassword">Password</label>
						<span ng-if="reg.showInvalidPasswordError" class="validation-text">
							This password is incorrect.
						</span>
						<span ng-if="loginForm.password.$error.required && loginForm.$submitted" class="validation-text">
							Please enter a password.
						</span>
					</div>
					<div class="col s12 right-align">
						<button type="button" ng-click="reg.passwordReset()" class="right-align waves-effect btn-flat">Forgot Password</button>
						<button type="submit" class="right-align waves-effect btn-flat">Log In</button>
					</div>
				</form>
			</div>

		</div>
	</div>

	<div class="card grey lighten-4 z-depth-2">
		<div class="card-content">

			<div class="row">
				<form name="registerForm" class="col s12" ng-submit="reg.submitNewAccount()" novalidate>
					<h4 class="col s12 flow-text grey-text text-darken-4">
						Register
					</h4>

					<p class="col s12 grey-text text-darken-1" style="padding-bottom: 10px;">
						Ready to participate in or even host competitions? Create an account and get started!
					</p>

					<div class="input-field col s12 bottom10">
						<input id="newAccountUsername" 
						       name="username" 
						       type="text" 
						       ng-model="reg.newUsername" 
						       ng-pattern="/^[a-zA-Z0-9]*$/"
						       ng-maxlength="24"
						       ng-class="{'invalid-field': registerForm.username.$error.maxlength || registerForm.username.$error.pattern ||
						                                   (registerForm.username.$error.required && registerForm.$submitted) ||
						                                   reg.showDuplicateUserError}"
						       required>
						<label for="newAccountUsername">Username</label>
						<span ng-if="registerForm.username.$error.maxlength" class="validation-text">
							Your username can't be this long.
						</span>
						<span ng-if="registerForm.username.$error.pattern" class="validation-text">
							Your username can't contain special characters.
						</span>
						<span ng-if="registerForm.username.$error.required && registerForm.$submitted" class="validation-text">
							Please enter a username.
						</span>
						<span ng-if="reg.showDuplicateUserError" class="validation-text">
							This username has already been taken.
						</span>
					</div>

					<div class="input-field col s12 m6 bottom10">
						<input id="newAccountPassword" 
						       name="password" 
						       type="password" 
						       ng-model="reg.newPassword" 
						       ng-class="{'invalid-field': registerForm.password.$error.required && registerForm.$submitted}"
						       required>
						<label for="newAccountPassword">Password</label>
						<span ng-if="registerForm.password.$error.required && registerForm.$submitted" class="validation-text">
							Please enter a password.
						</span>
					</div>

					<div class="input-field col s12 m6 bottom10">
						<input id="newAccountPasswordConfirm" 
						       name="passwordConfirm" 
						       ng-model="reg.newPasswordConfirm" 
						       type="password"
						       match="reg.newPassword"
						       ng-class="{'invalid-field': (registerForm.passwordConfirm.$error.match && registerForm.passwordConfirm.$dirty) ||
						                                   (registerForm.passwordConfirm.$error.required && registerForm.$submitted)}"
						       required>
						<label for="newAccountPasswordConfirm">Confirm Password</label>
						<span ng-if="registerForm.passwordConfirm.$dirty && registerForm.passwordConfirm.$error.match &&
						               registerForm.passwordConfirm.$modelValue" 
						      class="validation-text">
							This doesn't match what was entered in the password field.
						</span>
						<span ng-if="registerForm.passwordConfirm.$error.required && registerForm.$submitted" class="validation-text">
							Please confirm your password.
						</span>
					</div>

					<div class="input-field col s12 bottom10">
						<input id="newAccountEmail" 
						       name="email" 
						       type="email" 
						       ng-model="reg.newEmail" 
						       ng-class="{'invalid-field': (registerForm.email.$dirty && registerForm.email.$error.email) ||
						                                   (registerForm.email.$error.required && registerForm.$submitted) ||
						                                   (reg.showEmailTakenError)}"
						       required>
						<label for="newAccountEmail">Email</label>
						<span ng-if="registerForm.email.$dirty && registerForm.email.$error.email" 
						      class="validation-text">
							Please enter a valid email address.
						</span>
						<span ng-if="registerForm.email.$error.required && registerForm.$submitted" class="validation-text">
							Please enter an email address.
						</span>
						<span ng-if="reg.showEmailTakenError" class="validation-text">
							This email address is already in use.
						</span>
					</div>

					<div class="col s12 right-align">
						<button type="submit" class="right-align waves-effect btn-flat">Create Account</btn>
					</div>
				</form>
			</div>

		</div>
	</div>

</div>