<ng-include src="'./app/event/modals/modalGameScores.htm'"></ng-include>
<ng-include src="'./app/event/modals/modalMultiGameLeaderboard.htm'"></ng-include>
<ng-include src="'./app/event/modals/modalPlayer.htm'"></ng-include>
<ng-include src="'./app/event/modals/modalRules.htm'"></ng-include>
<ng-include src="'./app/event/modals/modalBadges.htm'"></ng-include>
<ng-include src="'./app/event/modals/modalSubmit.htm'"></ng-include>
<ng-include src="'./app/event/modals/modalManagement.htm'"></ng-include>

<div class="container">
	
	<div class="card grey lighten-4 z-depth-2">

		<!-- Event Navbar -->
		<nav class="event-nav">
			<div class="nav-wrapper grey-text text-lighten-4" 
			     ng-class="event.eventProperties.color">
				<a ng-click="" class="brand-logo truncate">
					<i class="mdi-action-turned-in-not small"
					   ng-if="event.eventProperties.premier"></i>
				    {{ event.eventProperties.name }}
				</a>

				<ul class="right">
					<li ng-if="event.eventProperties.state !== 'concluded' &&
					           (event.playerPool[$root.profile.$id].status === 'admin' ||
					            event.playerPool[$root.profile.$id].status === 'coadmin')">
						<a class="waves-effect waves-light"
						   ng-click="event.openModal('#managementModal')">
						    <span class="grey-text text-lighten-4">Management</span>
						</a>
					</li>
					<li ng-if="event.eventProperties.state !== 'upcoming'">
					    <a class="waves-effect waves-light" 
					       ng-click="event.openModal('#rulesModal')">
					        <span class="grey-text text-lighten-4">Rules</span>
					    </a>
					</li>
					<li ng-if="event.eventProperties.premier">
					    <a class="waves-effect waves-light"
					       ng-click="event.openModal('#badgesModal')">
					        <span class="grey-text text-lighten-4">Badges</span>
					    </a>
					</li>
					<li ng-if="event.eventProperties.state === 'inprogress'">
					    <a class="waves-effect waves-light" href="#">
					        <span class="grey-text text-lighten-4">Submit</span>
					    </a>
					</li>
				</ul>
			</div>
		</nav>

		<div class="card-content" ng-if="event.eventProperties.state === 'upcoming'">

			<!-- Sticky Message -->
			<vg-sticky-message properties="event.eventProperties"></vg-sticky-message>

			<!-- Description -->
			<div class="row">
				<div class="col s12">
					<h5 class="grey-text text-darken-4">Which team will claim victory in this year's IGBY?</h5>

					<p class="grey-text text-darken-1">
						It's that time again. Teams from the most popular classic gaming communities on the internet will 
						get their chance to duke it out for retro gaming glory in one of the most hyped tournaments of the year. 
						Returning once again are the powerhouse teams DKF and RU, as well as the newcomer MARP and Twin Galaxies teams. 
						Register now, pledge to your team, and start competing when the tournament begins on July 1st!
					</p>
				</div>
			</div>

			<div class="row">
			    <div class="col s12">
			        <div class="divider bottom15 top30"></div>
			    </div>
			</div>

			<!-- Rules -->
			<vg-rules-display></vg-rules-display>

			<div class="row">
			    <div class="col s12">
			        <div class="divider bottom15 top30"></div>
			    </div>
			</div>

			<!-- Register -->
			<div class="row">
				<div class="col s12 bottom15">
					<h5 class="grey-text text-darken-4">Register</h5>

					<p class="grey-text text-darken-1">
						All who wish to participate in IGBY2 are required to register prior to the start of the event.
						Since this is a team-based event, you must choose what team to pledge your allegiance to. Your team
						selection can be altered at any time before the event begins. Once the event begins, you will be frozen
						into your team selection, and only the event organizer can change your team.
					</p>
				</div>

				<!-- Team-Based Registration Form -->
				<form name="event.regForm" ng-if="$root.profile.$id">
					<div class="row">
						<div class="col s12 m6" style="margin: 0 auto; float: none;" ng-if="!event.playerPool[$root.profile.$id]">
							<label>Choose Team</label>
							<select class="browser-default"
							        name="team"
							        ng-options="team as team.fullName for team in event.teamList"
							        ng-model="event.selectedRegTeam"
							        ng-class="{'invalid-field': event.regForm.team.$error.required && event.regForm.$submitted}"
							        required>
							</select>
							<span ng-if="event.regForm.team.$error.required && event.regForm.$submitted" class="validation-text">
								Please select a team.
							</span>
						</div>
					</div>

					<div class="row center-align">
						<div class="col s12">

							<button type="submit" 
							        class="btn waves-effect" 
							        ng-click="event.registerForEvent()"
							        ng-disabled="event.disableRegisterButton"
							        ng-if="!event.playerPool[$root.profile.$id]">
							    Register
							</button>

							<span class="grey-text text-darken-1" ng-if="event.playerPool[$root.profile.$id]">
							    You are registered for IGBY2 on team {{ event.playerPool[$root.profile.$id].team }}.
							</span>

						</div>
					</div>
				</form>

				<!-- Team List and Roster -->
				<div class="row">
					<div class="col s12" ng-repeat="team in event.teamList">
						
						<ul class="collapsible" data-collapsible="accordion">
							<li>
								<div class="collapsible-header hoverable grey-text text-darken-4 waves-effect waves-teal">
								    {{ team.fullName }}
								</div>
								<div class="collapsible-body grey-text text-darken-1">
									<div class="col s4" ng-repeat="(key, value) in team.players">
										<p style="text-align: center;">{{ key }}</p>
									</div>
								</div>
							</li>
						</ul>

					</div>
				</div>
			</div>

		</div>

		<div class="card-content" ng-if="event.eventProperties.state === 'inprogress' || event.eventProperties.state === 'concluded'">

			<!-- Sticky Message -->
			<vg-sticky-message properties="event.eventProperties"></vg-sticky-message>

			<!-- Leaderboard -->
			<div ng-if="!event.eventProperties.format.multiGame">
				<vg-single-game-leaderboard></vg-single-game-leaderboard>
			</div>

			<div ng-if="event.eventProperties.format.multiGame">
				<vg-multi-game-leaderboard></vg-multi-game-leaderboard>
			</div>

			<!-- Games List -->
			<div ng-if="event.eventProperties.format.multiGame">
				<vg-games-list></vg-games-list>
			</div>

		</div>

	</div>

</div>